/node_modules
/vendor
/public/storage
/storage/*.key
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.phpunit.cache
/.phpunit.result.cache
/.phpactor.json
/.fleet
/.idea
/.vscode
/.zed
/nbproject/private/
/.DS_Store
